<div class="container" style="max-width:760px;">
  <h1 class="fw-bold mb-4">Créer une nouvelle liste</h1>

  <div class="card p-4 shadow-sm mb-3">
    <%= render "form", list: @list %>
  </div>
</div>

