<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="mb-3">
    <%= f.input :comment, label: "Commentaire", input_html: { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.association :movie, label: "Choisir un film", prompt: "Sélectionner un film", input_html: { class: "form-select" } %>
  </div>

  <%= f.submit class: "btn btn-success" %>
<% end %>
